<div class="banner">
      <div class="banner-overlay">
        <div class="container text-center text-white">
        <h1 class="display-4 font-weight-bold">Welcome to Popcorn</h1>
        <p class="lead">Create, organize, and enjoy your favorite movies in custom lists</p>
      </div>
    </div>
</div>
