.banner {
  position: relative;
  background-image: url('https: //unsplash.com/pt-br/fotografias/clapboard-camera-e-espaco-de-copia-em-fundo-branco-1878GCQTo08');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .container {
  z-index: 1;
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner p {
  font-size: 1.25rem;
}
